body {
  background-color: rgba(255, 193, 142, 0.9);
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #ca4e79;
  font-weight: 600;
}

.weather-app-container {
  background: white;
  max-width: 660px;
  margin: 50px auto;
  padding-right: 42px;
  padding-left: 42px;
  padding-top: 38px;
  padding-bottom: 38px;
  border-radius: 10px;
  box-shadow: 15px 40px 80px rgba(65, 50, 100, 0.35);
}

header {
  padding: 0 0 20px 0;
}

.search-input {
  background-color: #f9f7fe;
  border: none;
  color: rgba(26, 21, 44, 0.6);
  font-size: 16px;
  padding: 18px;
  width: 75%;
  border-radius: 6px;
  margin-right: 10px;
}

.search-button {
  background-color: #ca4e79;
  border: none;
  color: white;
  font-size: 16px;
  padding: 18px;
  width: 20%;
  border-radius: 6px;
  transition: all 150ms ease-in-out;
}

.search-button:hover {
  cursor: pointer;
  background-color: #cc668a;
}

h1 {
  font-weight: 800;
  font-size: 40px;
  color: #513252;
}

.weather-info-left {
  margin-left: 28px;
}

.todays-weather {
  color: rgba(26, 21, 44, 0.6);
  line-height: 1.5;
}
.todays-weather-details {
  font-weight: bolder;
  color: #7a4069;
}

.weather-app {
  display: flex;
  justify-content: space-between;
}

.weather-app-temperature-container {
  display: flex;
  margin-right: 18px;
  margin-top: 7px;
}

.weather-app-icon {
  margin-top: 16px;
}

.weather-app-temperature {
  font-size: 75px;
  margin-top: 20px;
  margin-left: 10px;
  font-weight: bold;
  color: #513252;
}

.weather-app-unit {
  margin-top: 36px;
  font-size: 28px;
  color: #513252;
}

main {
  margin-bottom: 45px;
}

.weather-forecast {
  margin-top: 35px;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.weather-forecast-day {
  font-weight: bold;
  color: #7a4069;
  font-size: 16px;
  margin-bottom: 5px;
}

.weather-forecast-icon {
  width: 60px;
  height: 60px;
  display: block;
  margin: 0 auto;
}

.weather-forecast-temperature {
  font-size: 14.5px;
  margin-top: 12px;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.weather-forecast-temperature-min {
  color: rgba(26, 21, 44, 0.4);
}
.weather-forecast-temperature-max {
  color: rgba(26, 21, 44, 0.6);
  font-weight: 450;
  margin-left: 2px;
  margin-right: 8px;
}

footer {
  border-top: 1px solid #efeef1b6;
  color: rgba(26, 21, 44, 0.6);
  text-align: center;
  padding-top: 32px;
  font-size: 14px;
}
